/* General
* Typography
* images
* Buttons
* forms
Layout
*  */

/* **TYPOGRAPHY** */
body {
  font-family: Helvetica;
  color: #5b5b5b;
  margin: 0;
}

nav {
  border-bottom: 1px solid #c4c4c4;
}

h1 {
  font-size: 24px;
}

h1 a {
  text-decoration: none;
}

p {
  font-size: 14px;
}

ul {
  font-size: 12px;
}

small {
  font-size: 14px;
}

a {
  color: #1a0dab;
}

a::after {
  color: #660099;
}

/* **IMAGES** */
.google-logo {
  width: 150px;
  margin-right: 30px;
}

/* **BUTTONS** */
button {
  width: 80px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

button.primary {
  background-color: #4285f3;
  border-radius: 10px;
  border: #1a5fd0 solid 1px;
  color: white;
}

button.primary:hover {
  background-color: #5998ff;
}

/* **FORMS** */

input[type="search"] {
  width: 400px;
  margin-right: 20px;
  margin-top: 20px;
  color: #5b5b5b;
  height: 35px;
  border-radius: 30px;
  border: 1px solid grey;
}
